*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    }
    
    li {
    list-style: none;
    }
    
    h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
    }
    
    a {
    color: inherit;
    text-decoration: none;
    display: block;
    }
    
    p a {
    display: inline;
    }
    
    img, picture, video, iframe {
    display: block;
    width: 100%;
    /* height: initial; */
    }
    
    form, input, label, select, option, textarea, button {
    font-size: inherit;
    font-family: inherit;
    display: block;
    background-color: transparent;
    }
    
    :root {
        font-size: 100%;
        --color-principal: #FF6B3D;
        --color-secundario: #f6f8ec;
        --color-texto: #444441;
        --fuente-principal: 'ClashDisplay', sans-serif;
        --fuente-secundaria: 'Poppins', sans-serif;   
    }
    
    html {
    scroll-behavior: smooth;
    height: 100%;
    display: flex;
    flex-direction: column;
    }

    body {
        background-color: var(--color-principal);
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    main {
        flex: 1;
    }



    .header2 {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;
        background-color: var(--color-principal);
        align-items: baseline;
        padding-block: 1rem;
        padding-inline: 2rem;
        
    }
    .header__menu-enlace {
        font-family: 'clashdisplay';
        color: var(--color-texto);
        font-size: 1.25rem;
        font-weight: bolder;
        transition: color 0.3s, transform 0.2s;
        
    }
    .header2__menu {
        display: flex;
        gap:1.5rem;      
    }
    
    .header__menu-enlace:hover {
        color: var(--color-secundario);
    }
    .header__menu-enlace:active {
        scale: 0.95;
    }

    .header2__img {
       height: 2rem;
    }
    .header2__hamburguesa {
        display: none;
        font-size: 2rem;
        color: var(--color-texto);

    }
    .header2__movil {
        display: none;
    }


    .main__visita {
        padding-inline: 2rem;
        padding-bottom: 2rem;
    }
    .main__visita-intro {
        display: flex;
        padding-top: 3rem;
        padding-bottom: 2rem;
    }
    .main__visita-titulo {
        font-family: 'clashdisplay';
        color: var(--color-secundario);
        font-size: 4rem;
    }

    .main__visita-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        padding-bottom: 3rem;
        padding-top: 2rem;
    }

    .main__visita-item {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        background-color: var(--color-secundario);
        gap: 2rem;
    }

    .main__visita-tit {
        text-align: start;
        font-family: 'clashdisplay';
        font-size: 1.5rem;
        color: var(--color-texto);
    }
    .main__visita-nav {
        display: flex;
        flex-direction: column;
        font-family: 'poppin';
        font-size: 1.2rem;
        color: var(--color-texto);   
        gap: 1rem;     
    }
    .main__visita-op {
        display: flex;
        justify-content: space-between;
    }
    .main__visita-parrafo {
        display: flex;
        font-family: 'poppin';
        font-size: 1rem;
        color: var(--color-texto);    
    }
    .main__visita-dir {
        display: flex;
        font-family: 'poppin';
        font-size: 1.5rem;
        font-weight: bolder;
        color: var(--color-texto);  
        justify-content: center;
    }
    .main__visita-img {
        object-fit: cover;
    }
    .main__visita-boton {
        grid-column: 2;
        grid-row: 2;
        background-color: var(--color-secundario);
        padding: 1rem;
        display: flex;
        justify-content: center;
        font-family: 'poppin';
        font-size: 1.5rem;
        font-weight: bolder;
        color: var(--color-texto);  
        justify-content: center;
        transition: background-color 0.3s, color 0.7s, transform 0.6s;
    }
    .main__visita-boton:hover {
        background-color: #444441;
        color: var(--color-secundario);
    }
    .main__visita-boton:active {
        transform: scale(0.95);
    }
    .main__visita-linea {
        height: 0.2rem;
        background-color: var(--color-secundario);
    }









    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-inline: 2rem;
        align-items: center;
        padding-bottom: 1rem;
        background-color: var(--color-texto);
        padding-top: 1rem;
    }
    .footer__logo{
        display: flex;
        width: 50%;
    }
    .footer__menu {
        display: flex;
        font-family: 'redhat';
        color: var(--color-secundario);
        font-size: 1rem;
        justify-content: center;
    }
    .footer__social {
        display: flex;
        flex-direction: column;
    }
    .footer__direccion {
        display: flex;
    }
    .footer__media {
        display: flex;
    }
    .footer__media-img {
        height: 1.2rem;
    }
    .footer__direccion-texto {
        font-family: 'redhat';
        color: var(--color-secundario);
        font-size: 0.8rem;
        text-align: center;
        padding-bottom: 1rem;
    }















    /*FUENTES*/

    @font-face {
        font-family: 'clashdisplay';
        src: url(../fuentes/ClashDisplay_Complete/Fonts/OTF/ClashDisplay-Semibold.otf);
    }

    @font-face {
        font-family: 'redhat';
        src: url(../fuentes/static/RedHatDisplay-Bold.ttf);
    }

    @font-face {
        font-family: 'poppin';
        src: url(../fuentes/Poppins-Regular.ttf);
    }

    @font-face {
        font-family: 'redhat';
        src: url(../fuentes/static/RedHatDisplay-Black.ttf);
        font-weight: bolder;
    }



            /* RESPONSIVE */

@media (max-width: 768px) {
    .header2__img {
        width: 60%;
    }
    .header2__menu-item {
        font-size: 1rem;
    }
    .header2__menu{
        display: none;
    }
    .header2__hamburguesa {
        display: flex;
        justify-content: end;
    }
    .header2__movil {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        background-color: var(--color-secundario);
        align-items: center;
        justify-content: start;
        z-index: 10;
        font-size: 2rem;
        font-family: "clashdisplay";
        color: var(--color-texto);
        position: fixed;
        top: 0;
        visibility: hidden;
        gap: 5rem;

        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
    }
    .header2__movil-cerrar {
        padding-bottom: 5rem;
    }
    .header2__movil.activo {
        visibility: visible;
        transform: translateX(0%);
    }
    .header2__movil.cerrando {
        visibility: visible;
        transform: translateX(100%);
    }
    .header2__movil-cerrar {
        background: none;
        font-size: 2.5rem;
        color: var(--color-texto);
        align-self: flex-end;
        margin-right: 2rem;
    }
    .main__visita-titulo{
        font-size: 3rem;
    }
    .main__visita-tit{
        font-size: 2rem;
        display: flex;
        justify-content: center;
    }
    .main__visita-nav{
        font-size: 0.9rem;
    }
    .main__visita-parrafo{
        font-size: 0.9rem;
    }
    .main__visita-dir{
        font-size: 1rem;
        text-align: center;
    }
    .main__visita-boton{
        font-size: 1rem;
    }
    .c1{
        font-size: 1.5rem;
        padding-top: 0.7rem;
    }
    .c2{
        font-size: 1rem;
    }
    .c3{
        font-size: 0.6rem;
        padding-bottom: 1rem;
    }
    
    .footer__logo{
        width: 100%;
    }
    .footer__menu{
        font-size: 0.9rem;
    }
    .footer__media-img{
        height: 0.8rem;
    }
    .footer__direccion-texto{
        font-size: 0.8rem;
    }



}

@media (max-width: 480px) {
    .header2{
        display: flex;
        align-items: center;
    }
    .header2__img{
        width: 60%;
    }
    .header2__menu-item{
        font-size: 0.5rem;
    }
    .header2__menu{
        display: none;
    }
    .header2__hamburguesa {
        display: flex;
        justify-content: end;
        font-size: 1rem;
    }
    .header__movil-enlace {
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header2__movil {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        background-color: var(--color-secundario);
        align-items: center;
        justify-content: start;
        z-index: 10;
        font-size: 2rem;
        font-family: "clashdisplay";
        color: var(--color-texto);
        position: fixed;
        top: 0;
        visibility: hidden;
        gap: 5rem;

        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
    }
    .header2__movil-cerrar {
        padding-bottom: 5rem;
    }
    .header2__movil.activo {
        visibility: visible;
        transform: translateX(0%);
    }
    .header2__movil.cerrando {
        visibility: visible;
        transform: translateX(100%);
    }
    .header2__movil-cerrar {
        background: none;
        font-size: 2.5rem;
        color: var(--color-texto);
        align-self: flex-end;
        margin-right: 2rem;
    }
    .main__visita-titulo{
        font-size: 2rem;
    }
    .main__visita-tit{
        font-size: 1rem;
        display: flex;
        justify-content: center;
    }
    .main__visita-nav{
        font-size: 0.4rem;
    }
    .main__visita-parrafo{
        font-size: 0.6rem;
    }
    .main__visita-dir{
        font-size: 0.7rem;
        text-align: center;
    }
    .main__visita-boton{
        font-size: 0.5rem;
    }
    .main__visita-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .main__visita-item:nth-child(1){
        grid-column: 1;
        grid-row: 1;
    }
    .main__visita-item:nth-child(2){
        grid-column: 1 / 3;
        grid-row: 2;
    }
    .main__visita-item:nth-child(3){
        grid-column: 2;
        grid-row: 1;
    }
    .main__visita-boton{
        grid-column: 1 / 3;
        grid-row: unset;
        margin: 0.5rem auto 0 auto;
        width: fit-content;
    }
    .footer__logo{
        width: 100%;
    }
    .footer__menu{
        font-size: 0.4rem;
    }
    .footer__media-img{
        height: 0.4rem;
    }
    .footer__direccion-texto{
        font-size: 0.3rem;
        padding-bottom: 0.2rem;
    }
    .footer{
        padding-inline: 0.2rem;
    }


}

@media (min-width: 2560px) {
    .header__menu-enlace {
        font-size: 2rem;
    }
    .header2__img{
        width: 100%;
    }
    .main__visita-titulo{
        font-size: 8rem;
    }
    .main__visita-tit{
        font-size: 6rem;
        display: flex;
        justify-content: center;
    }
    .main__visita-nav{
        font-size: 3rem;
    }
    .main__visita-parrafo{
        font-size: 3rem;
    }
    .main__visita-dir{
        font-size: 3rem;
        text-align: center;
    }
    .main__visita-boton{
        font-size: 3rem;
    }
    .main__visita-item:nth-child(2){
        padding-bottom: 3rem;
    }
    .main__titulo{
        font-size: 8rem;
    }
    .main__intro{
        font-size: 2rem;
    }
    .main__gal-titulo{
        font-size: 8rem;
    }
    .c1{
        font-size: 4rem;
        padding-top: 0.4rem;
    }
    .c2{
        font-size: 3rem;
    }
    .c3{
        font-size: 2rem;
        padding-bottom: 1rem;
    }
    .footer__logo{
        width: 100%;
    }
    .footer__logo-img{
        width: 50rem;
    }
    .footer__menu{
        font-size: 2rem;
    }
    .footer__media-img{
        height: 2rem;
    }
    .footer__direccion-texto{
        font-size: 2rem;
    }
    .footer{
        padding-inline: 2rem;
    }
    

}