*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    }
    
    li {
    list-style: none;
    }
    
    h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
    }
    
    a {
    color: inherit;
    text-decoration: none;
    display: block;
    }
    
    p a {
    display: inline;
    }
    
    img, picture, video, iframe {
    display: block;
    width: 100%;
    /* height: initial; */
    }
    
    form, input, label, select, option, textarea, button {
    font-size: inherit;
    font-family: inherit;
    display: block;
    background-color: transparent;
    }
    
    :root {
    font-size: 100%;
    --color-principal: #FF6B3D;
    --color-secundario: #f6f8ec;
    --color-texto: #444441;
    --fuente-principal: 'ClashDisplay', sans-serif;
    --fuente-secundaria: 'Poppins', sans-serif;    
    }
    
    html {
        scroll-behavior: smooth;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    
    body {
        background-color: var(--color-principal);
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    main {
        flex: 1;
    }



    .header2 {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;
        background-color: var(--color-principal);
        align-items: baseline;
        padding-block: 1rem;
        padding-inline: 2rem;
        
    }
    .header__menu-enlace {
        font-family: 'clashdisplay';
        color: var(--color-texto);
        font-size: 1.25rem;
        font-weight: bolder;
        transition: color 0.3s, transform 0.2s;
        
    }
    .header2__menu {
        display: flex;
        gap:1.5rem;      
    }
    
    .header__menu-enlace:hover {
        color: var(--color-secundario);
    }
    .header__menu-enlace:active {
        scale: 0.95;
    }

    .header2__img {
       height: 2rem;
    }
    .header2__hamburguesa {
        display: none;
        font-size: 2rem;
        color: var(--color-texto);

    }
    .header2__movil {
        display: none;
    }

    .main__contacto {
        padding-inline: 2rem;
    }

    .main__contacto-intro {
        display: flex;
        flex-direction: column;
        padding-top: 3rem;
        padding-bottom: 2rem;
        gap: 1.5rem;
    }
    .main__contacto-titulo {
        font-family: 'clashdisplay';
        color: var(--color-secundario);
        font-size: 4rem;
    }
    .main__contacto-linea {
        height: 0.2rem;
        background-color: var(--color-secundario);
    }
    .main__contacto-contenedor {
        display: flex;
        align-items: start;
        justify-content: center;
        padding-top: 2rem;
        padding-bottom: 3rem;
        gap: 5rem;
    }
    .main__contacto-tit {
        font-family: 'clashdisplay';
        font-size: 3rem;
        color: var(--color-texto);
        padding-bottom: 2rem;
    }
    .main__contacto-lista {
        font-family: 'poppin';
        font-size: 1rem;
        font-weight: bold;
        color: var(--color-texto);
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 2rem;
    }
    
    .main__contacto-item {
        display: flex;
        justify-content: space-between;
        text-align: left;
        gap: 1rem;
        border-bottom: 0.2rem dotted;
        border-color: var(--color-texto);
    }
    .main__contacto-enlace{
        color: var(--color-secundario);
    }
    .main__contacto-tel{
        color: #f6f8ec;
        border-bottom: 0.2rem dotted;
        border-color: var(--color-texto);
    }
    .main__contacto-subtit {
        font-family: 'clashdisplay';
        font-size: 2.3rem;
        font-weight: bold;
        color: var(--color-texto);
        padding-bottom: 2rem;
    }
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-inline: 2rem;
        align-items: center;
        padding-bottom: 1rem;
        background-color: var(--color-texto);
        padding-top: 1rem;
    }
    .footer__logo{
        display: flex;
        width: 50%;
    }
    .footer__menu {
        display: flex;
        font-family: 'redhat';
        color: var(--color-secundario);
        font-size: 1rem;
        justify-content: center;
    }
    .footer__social {
        display: flex;
        flex-direction: column;
    }
    .footer__direccion {
        display: flex;
    }
    .footer__media {
        display: flex;
    }
    .footer__media-img {
        height: 1.2rem;
    }
    .footer__direccion-texto {
        font-family: 'redhat';
        color: var(--color-secundario);
        font-size: 0.8rem;
        text-align: center;
        padding-bottom: 1rem;
    }
    
    .main__about {
        padding-inline: 2rem;
    }
    .main__about-linea {
        height: 0.2rem;
        background-color: var(--color-secundario);
    }
    .main__about-intro {
        display: flex;
        flex-direction: column;
        padding-top: 3rem;
        padding-bottom: 2rem;
    }
    .main__about-titulo {
        font-family: 'clashdisplay';
        color: var(--color-secundario);
        font-size: 4rem;
    }

    .main__about-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 2rem;
        padding-block: 2rem;

    }

    .main__about-item {
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        background-color: var(--color-secundario);
    }

    .main__about-tit {
        text-align: start;
        font-family: 'clashdisplay';
        font-size: 1srem;
        color: #444441;
        padding-bottom: 1rem;
    }
    .main__about-img {
        object-fit: cover;
        display: block;
        width: 100%;
        height: 15rem;
    }


















    /*FUENTES*/

    @font-face {
        font-family: 'clashdisplay';
        src: url(../fuentes/ClashDisplay_Complete/Fonts/OTF/ClashDisplay-Semibold.otf);
    }

    @font-face {
        font-family: 'redhat';
        src: url(../fuentes/static/RedHatDisplay-Bold.ttf);
    }

    @font-face {
        font-family: 'poppin';
        src: url(../fuentes/Poppins-Regular.ttf);
    }

    @font-face {
        font-family: 'redhat';
        src: url(../fuentes/static/RedHatDisplay-Black.ttf);
        font-weight: bolder;
    }







       /* RESPONSIVE */

@media (max-width: 768px) {
    .header2__img {
        width: 60%;
    }
    .header2__menu-enlace {
        font-size: 0.8rem;
    }
    .header2__menu{
        display: none;
    }
    .header2__hamburguesa {
        display: flex;
        justify-content: end;
    }
    .header2__movil {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        background-color: var(--color-secundario);
        align-items: center;
        justify-content: start;
        z-index: 10;
        font-size: 2rem;
        font-family: "clashdisplay";
        color: var(--color-texto);
        position: fixed;
        top: 0;
        visibility: hidden;
        gap: 5rem;

        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
    }
    .header2__movil-cerrar {
        padding-bottom: 5rem;
    }
    .header2__movil.activo {
        visibility: visible;
        transform: translateX(0%);
    }
    .header2__movil.cerrando {
        visibility: visible;
        transform: translateX(100%);
    }
    .header2__movil-cerrar {
        background: none;
        font-size: 2.5rem;
        color: var(--color-texto);
        align-self: flex-end;
        margin-right: 2rem;
    }
    .main__about-titulo{
        font-size: 3rem;
    }
    .main__about-tit{
        font-size: 0.7rem;
    }
    .main__about-item{
        padding: 0.1rem;
    }
    .main__about-img {
        object-fit: cover;
        display: block;
        width: 100%;
        height: 10rem;
    }
    .footer__logo{
        width: 100%;
    }
    .footer__menu{
        font-size: 0.9rem;
    }
    .footer__media-img{
        height: 0.8rem;
    }
    .footer__direccion-texto{
        font-size: 0.8rem;
    }    
}

@media (max-width: 480px) {
    .header2{
        display: flex;
        align-items: center;
    }
    .header2__img{
        width: 60%;
    }
    .header2__menu-item{
        font-size: 0.4rem;
    }
    .header2__menu{
        display: none;
    }
    .header2__hamburguesa {
        display: flex;
        justify-content: end;
        font-size: 1rem;
    }
    .header__movil-enlace {
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header2__movil {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        background-color: var(--color-secundario);
        align-items: center;
        justify-content: start;
        z-index: 10;
        font-size: 2rem;
        font-family: "clashdisplay";
        color: var(--color-texto);
        position: fixed;
        top: 0;
        visibility: hidden;
        gap: 5rem;

        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
    }
    .header2__movil-cerrar {
        padding-bottom: 5rem;
    }
    .header2__movil.activo {
        visibility: visible;
        transform: translateX(0%);
    }
    .header2__movil.cerrando {
        visibility: visible;
        transform: translateX(100%);
    }
    .header2__movil-cerrar {
        background: none;
        font-size: 2.5rem;
        color: var(--color-texto);
        align-self: flex-end;
        margin-right: 2rem;
    }
    .main__about-titulo{
        font-size: 2rem;
    }
    .main__about-grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .main__about-img {
        object-fit: cover;
        display: block;
        width: 100%;
        height: 7rem;
    }
    .main__about-tit{
        font-size: 0.5rem;
    }
    .main__contacto-contenedor {
        display: flex;
        flex-direction: column;
    }    
    .main__contacto-titulo {
        font-size: 2rem;
    } 
    .main__contacto-tit {
        font-size: 1.5rem;
    }
    .main__contacto-subtit {
        font-size: 0.8rem;
    }
    .main__contacto-lista {
        font-size: 0.7rem;
    }
    .footer__logo{
        width: 100%;
    }
    .footer__menu{
        font-size: 0.4rem;
    }
    .footer__media-img{
        height: 0.4rem;
    }
    .footer__direccion-texto{
        font-size: 0.3rem;
        padding-bottom: 0.2rem;
    }
    .footer{
        padding-inline: 0.2rem;
    }


}

@media (min-width: 2560px) {
    .header__menu-enlace {
        font-size: 2rem;
    }
    .header2__img{
        width: 100%;
    }
    .main__about-titulo{
        font-size: 8rem;
    }
    .main__about-tit{
        font-size: 3rem;
    }
    .main__about-grid{
        padding-top: 6rem;
        padding-bottom: 13rem;
    }
    .main__about-img {
        object-fit: cover;
        display: block;
        width: 100%;
        height: 30rem;
    }
    .main__contacto-titulo {
        font-size: 8rem;
    }
    .main__contacto-tit {
        font-size: 4rem;
    }
    .main__contacto-subtit {
        font-size: 2.5rem;
    }
    .main__contacto-lista {
        font-size: 2rem;
    }

    
    .footer__logo{
        width: 100%;
    }
    .footer__logo-img{
        width: 50rem;
    }
    .footer__menu{
        font-size: 2rem;
    }
    .footer__media-img{
        height: 2rem;
    }
    .footer__direccion-texto{
        font-size: 2rem;
    }
    .footer{
        padding-inline: 2rem;
    }
    

}